<h1>Movies</h1>

<%= link_to "Create a movie list", new_list_path %>


  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
            <%= list.name %>
            <%= cl_image_tag list.photo.key %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
